<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <title>POS</title>

    <meta charset="utf-8">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <style>
        input[type=text] {
            border: 0px;
            background-color: #f7f7f7;
        }

        input[type=text]:focus {
            border: 0px;
            background-color: #f7f7f7;
        }
    </style>
</head>

<body>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/monetization.js" type="text/javascript"></script>
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                _bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
            }
        })();
    </script>
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                _bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
            }
        })();
    </script>
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                _bsa.init('stickybox', 'CKYI653J', 'placement:w3layoutscom');
            }
        })();
    </script>
    <script>var vitag = vitag || {}; vitag.gdprShowConsentTool = false; vitag.outStreamConfig = { type: "slider", position: "left" };</script>
    <div class="main_content">
        <div class="bg-layer">
            <h1 style="padding-top: 20px"></h1>
            <!-- <p-toast position="top-center" key="t-err" (onClose)="onClose()"></p-toast> -->
            <div class="header-main">
                <div style="text-align:center;">
                    <img src="../../assets/icons/win/logo.ico" alt="logo" routerLink="/login" style="width: 15vh;height: 15vh;padding: 12px;" />
                    <h6></h6>
                </div>


                <div class="Login_tab">
                    <!-- <form [formGroup]="loginForm" ngSubmit="OnSignIn()"> -->
                        <div class="p-fluid p-grid">

                            <div class="p-col-12 p-md-2"></div>
                            <!-- <div for="userName" class="p-field p-col-12 p-md-8 dashboard">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" pInputText formControlName="user" id="userName"
                                        autofocus="true" [(ngModel)]="userName" tabindex="0" required
                                        autocomplete="off">
                                    <label for="float-input">Username</label>
                                </span>
                            </div> -->
                            <div class="p-col-12 p-md-2"></div>
                            <div class="p-col-12 p-md-2"></div>
                            <!-- <div for="userName" class="p-field p-col-12 p-md-8">
                                <span class="p-float-label">
                                    <input id="float-input" type="password" pInputText formControlName="pswd"
                                    [(ngModel)]="password" tabindex="0" (keydown.enter)="onSignIn()" required
                                        autocomplete="off">
                                    <i *ngIf="!showPswd" disabled class="fa fa-eye"
                                        style="margin-left: -10px;color: black;" (click)="onShowPswd()"
                                        aria-hidden="true"></i>
                                    <i *ngIf="showPswd" class="fa fa-eye-slash" style="margin-left: -10px;color: black;"
                                        (click)="onShowPswd()" aria-hidden="true"></i>
                                    <label for="float-input">Password</label>
                                </span>
                            </div> -->
                            <div class="p-col-12 p-md-2"></div>
                        </div>

                        <!-- <div for="userName" class="icon1">
                            <span class="fa fa-user"></span>
                            <input  type="password" formControlName="pswd" [(ngModel)]="password"
                            placeholder="Password" tabindex="0" (keydown.enter)="onSignIn()"
                            required>
                           <i *ngIf="!showPswd" disabled class="fa fa-eye" style="margin-left: -10px;color: black;" (click)="onShowPswd()" aria-hidden="true"></i>
                           <i *ngIf="showPswd" class="fa fa-eye-slash" style="margin-left: -10px;color: black;" (click)="onShowPswd()" aria-hidden="true"></i>
                        </div>
                        <div for="password" class="icon1">
                            <span class="fa fa-lock"></span>
                            <input id="pswd" class="ui-g-8 dashboard" type="password" class="inputxt" formControlName="pswd" [(ngModel)]="password"
                              placeholder="Password" tabindex="0" (keydown.enter)="onSignIn()"
                              required>
                             <i *ngIf="!showPswd" disabled class="fa fa-eye" style="margin-left: -10px;color: black;" (click)="onShowPswd()" aria-hidden="true"></i>
                             <i *ngIf="showPswd" class="fa fa-eye-slash" style="margin-left: -10px;color: black;" (click)="onShowPswd()" aria-hidden="true"></i>
                        </div> -->
                    <!-- </form> -->

                    <!-- <div style="margin-left: 22vh" class="p-field-checkbox  p-col-12 p-md-6">
                        <p-checkbox name="group1" value="true" [(ngModel)]="isChecked" tabindex="0"
                            (change)="toggleVisibility($event)" [binary]="true" inputId="ny"></p-checkbox>
                        <label for="ny"><i> </i>Remember Me</label>
                    </div> -->

                    <div class="p-field p-col-12 p-md-6" style="margin-left: 24vh">
                        <button pButton pRipple type="button" label="Sign In" icon="pi pi-check" class="p-mr-2" (click)="onSignIn()"></button>
                    </div>

                    <!-- <div class="links" style="text-align: center">
                        <p> <a href="#" data-target="#pwdModal" tabindex="0" data-toggle="modal">Forgot my password</a>
                        </p>

                    </div> -->
                    <!-- <div id="pwdModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" style="padding-top: 3vh;">
                            <div>
                                <i style="float: right; color: aliceblue" class="fas fa-times-circle"></i>
                            </div>
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <div class="text-center">
                                                    <p>If you have forgotten your password you can reset it here!</p>
                                                    <div class="panel-body">
                                                        <fieldset>
                                                            <div class="form-group">
                                                                <input class="form-control input-lg"
                                                                    placeholder="E-mail" name="email" type="email"
                                                                    autocomplete="off">
                                                            </div>

                                                            <button class="btn" style="width: 50%"
                                                                value="Send My Password" type="submit">Send My
                                                                Password</button>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>


            </div>
        </div>
    </div>

    <div id="vli_adpixel8383" style="width: 0px; height: 0px; display: none;">
        <iframe id="vli_tracking_iframe" width="0" height="0" style="display: none;"></iframe>
    </div>
</body>