<div style="background-color: gold !important;
border: 3px solid darkgoldenrod;
border-radius: 10px;" class="col s12 m4 l4 card-panel grey lighten-5 z-depth-2">
    <div class="row valign-wrapper">
        <div class="col s2">
            <img src="images/Subash_Photo.jpg" alt="" class="circle responsive-img">
            <!-- notice the "circle" class -->
        </div>
        <div style="padding: 3.2vh;" class="col s10">
            <div class="black-text">
                ID - C02245
            </div>
            <div class="black-text">
                NAME - SUBASH
            </div>
            <div class="black-text">
                DESIGNATION - DEVELOPER
            </div>
            <div class="black-text">
                Phone - 9042931728
            </div>
            <div class="black-text">
                PURCHASE COUNT - 90
            </div>
        </div>
    </div>
</div>