<div class="p-col-12">
    <div>
        <input pButton pRipple type="button" value="£ {{total}}" label=""
            style="border-radius: 1vh;padding: 1.4vh; width: 13vh;background-color: dimgrey;" class="p-col-2 p-mr-1 p-mb-1">
        <input pButton pRipple type="button" value="7" label="7" style="padding: 1.4vh; width: 13vh;"
            class="p-col-2 p-row-2 p-mr-1 p-mb-1">
        <input pButton pRipple type="button" value="8" label="8" style="padding: 1.4vh; width: 13vh;"
            class="p-col-2 p-row-2 p-mr-1 p-mb-1">
        <input pButton pRipple type="button" value="9" label="9" style="padding: 1.4vh; width: 13vh;"
            class="p-col-2 p-row-2 p-mr-1 p-mb-1">
    </div>
    <div>
        <input pButton pRipple type="button" value="£ {{NearTotal}}" label=""
            style="border-radius: 1vh;background-color: dimgrey;padding: 1.4vh; width: 13vh;" class="p-col-2 p-row-2 p-mr-1 p-mb-1">
        <input pButton pRipple type="button" value="6" label="6" style="padding: 1.4vh; width: 13vh;"
            class="p-col-2 p-row-2 p-mr-1 p-mb-1">
        <input pButton pRipple type="button" value="5" label="5" style="padding: 1.4vh; width: 13vh;"
            class="p-col-2 p-row-2 p-mr-1 p-mb-1">
        <input pButton pRipple type="button" value="4" label="4" style="padding: 1.4vh; width: 13vh;"
            class="p-col-2 p-row-2 p-mr-1 p-mb-1">
    </div>
    <div>
        <input pButton pRipple type="button" value="£ {{NextNear}}" label=""
            style="border-radius: 1vh;background-color: dimgrey;padding: 1.4vh; width: 13vh;" class="p-col-2 p-row-2 p-mr-1 p-mb-1">
        <input pButton pRipple type="button" value="3" label="3" style="padding: 1.4vh; width: 13vh;"
            class="p-col-2 p-row-2 p-mr-1 p-mb-1">
        <input pButton pRipple type="button" value="2" label="2" style="padding: 1.4vh; width: 13vh;"
            class="p-col-2 p-row-2 p-mr-1 p-mb-1">
        <input pButton pRipple type="button" value="1" label="1" style="padding: 1.4vh; width: 13vh;"
            class="p-col-2 p-row-2 p-mr-1 p-mb-1">
    </div>
    <div>
        <input pButton pRipple type="button" value="£ {{LastTotal}}" label=""
            style="border-radius: 1vh;background-color: dimgrey;padding: 1.4vh; width: 13vh;" class="p-col-2 p-row-2 p-mr-1 p-mb-1">
        <input pButton pRipple type="button" value="0" label="0" style="padding: 1.4vh; width: 13vh;"
            class="p-col-2 p-row-2 p-mr-1 p-mb-1">
        <input pButton pRipple type="button" value="00" label="00" style="padding: 1.4vh; width: 13vh;"
            class="p-col-2 p-row-2 p-mr-1 p-mb-1">
        <input pButton pRipple type="button" value="X" label="X" style="padding: 1.4vh; width: 13vh;"
            class="p-col-2 p-row-2 p-mr-1 p-mb-1">
    </div>
    <div>
        <input pButton pRipple type="button" value="CARD" label="Card"
            style="background-color: darkslategrey; border-radius: 1vh;padding: 1.4vh; width: 13vh;"
            class="p-col-2 p-row-2 p-mr-1 p-mb-1">
        <input pButton pRipple type="button" value="ENTER" label="Enter"
            style="background-color: darkslategrey; border-radius: 1vh;padding: 1.4vh; width: 13vh;"
            class="p-col-2 p-row-2 p-mr-1 p-mb-1">
        <input pButton pRipple type="button" value="CLEAR" label="Clear"
            style="background-color: darkslategrey; border-radius: 1vh;padding: 1.4vh; width: 13vh;"
            class="p-col-2 p-row-2 p-mr-1 p-mb-1">
        <input pButton pRipple type="button" value="CASH" label="Cash"
            style="background-color: darkslategrey; border-radius: 1vh;padding: 1.4vh; width: 13vh;"
            class="p-col-2 p-row-2 p-mr-1 p-mb-1">
    </div>
</div>